<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= erb :assets %>
  <title>Ban status</title>
</head>
<body>
<div id="content">
<ul id="nav">
  <li><a href="/" title="Return to front page">Return</a></li>
</ul>
<% if @bans.empty? %>
<h1><%= t(:not_banned) %></h1>
<% else %>
<% @bans.each do |ban| %>
<div class="section banned-status user-<%= ban[:duration] == 0 ? 'warned' : 'banned' %>">
  <h2>You <%= ban[:duration] == 0 ? 'have been warned' : 'are banned' %></h2>
  <div class="ban-head">Reason:</div>
  <div class="ban-reason"><%= ban[:reason] %></div>
  <% if ban[:duration] != 0 %>
  <div class="ban-head">Expires on:</div>
  <div class="ban-reason"><%= ban[:duration] < 0 ? 'Never' : Time.at(ban[:expires_on]).utc.strftime(t(:time_format)) %></div>
  <% end %>
  <% if ban[:post]; post = JSON.parse(ban[:post], symbolize_names: true) %>
  <div class="ban-post">
    <div class="ban-head">Your message was posted on /<%= post[:slug] %>/ and contained:</div>
    <% if post[:comment] %>
    <div class="ban-post-comment"><%= post[:comment] %></div>
    <% end %>
    <% if post[:file_hash];
    file_meta = JSON.parse(post[:meta], symbolize_names: true)[:file] %>
    <div class="ban-head">File:</div>
    <div class="ban-post-file"><%= file_meta[:ext] %> <%= file_meta[:w] %>×<%= file_meta[:h] %> <%= pretty_bytesize(file_meta[:size]) %> <%= post[:file_hash] %></div>
    <% end %>
  </div>
  <% end %>
</div>
<% end %>
<% end %>
</div>
</body>
</html>
