<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= erb :assets %>
  <title><%= cfg(:app_name) %></title>
</head>
<body>
<div id="content">
<ul id="nav">
  <li><a href="/">Return</a></li>
</ul>
<div class="main">
<% @bans.each do |ban| %>
<div class="ban-status">
  <h2 class="ban-head">You <%= ban[:duration] == 0 ? 'have been warned' : 'are banned' %></h2>
  <div class="ban-reason"><%= ban[:reason] %></div>
  <% if ban[:post]; post = JSON.parse(ban[:post], symbolize_names: true) %>
  <div class="ban-post">
    <div class="ban-post-head">Your message was posted on /<%= post[:slug] %>/ and contained:</div>
    <% if post[:comment] %>
    <div class="post-comment"><%= post[:comment] %></div>
    <% end %>
    <% if post[:file_hash];
    file_meta = JSON.parse(post[:meta], symbolize_names: true)[:file] %>
    <div class="post-file"><a title="<% post[:file_hash] %>" href="#"><%= file_meta[:ext] %> <%= file_meta[:w] %>x<%= file_meta[:h] %> <%= pretty_bytesize(file_meta[:size]) %></a></div>
    <% end %>
  </div>
  <% end %>
</div>
<% end %>
</div>
</div>
</body>
</html>
