<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= erb :assets %>
  <title>/<%= @board[:slug] %>/ - <%= @board[:title] %></title>
</head>
<body>
<div id="content">
<ul id="nav"><li><a href="#post-form">New thread</a></li>
  <li class="tce">—</li>
<% DB[:boards].each do |board| %>
  <li>/<a title="<%= board[:title] %>" href="/<%= board[:slug] %>/"><%= board[:slug] %></a>/</li>
<% end %>
</ul>
<%
forced_anon = false
anon = cfg(:anon)
time_format = t(:time_format)
%>
<h1 id="title"><%= @board[:title] %></h1>
<ul id="threads" class="list section">
  <% if @threads.empty? %>
  <li>This board has no threads.</li>
  <% else %>
  <% @threads.each do |thread| %>
    <li><a class="rc" href="/<%= @board[:slug] %>/read/<%= thread[:num] %>"><% if thread[:pinned] > 0 %>●<% else %>»<% end %></a> <a href="/<%= @board[:slug] %>/read/<%= thread[:num] %>"><%= thread[:title] %></a><span class="pc">(<%= thread[:post_count] %>)</span></li>
  <% end %>
  <% end %>
</ul>
<% if @current_page %>
<ul class="pagination">
<% paginate_html(@current_page, @total_pages) do |page| %>
  <li><% if page == :first %><a class="pgn-ctrl" href="/<%= @board[:slug] %>/">«</a>
  <% elsif page == :previous %><a class="pgn-ctrl" href="/<%= "#{@board[:slug]}/#{@current_page - 1}" %>">‹</a>
  <% elsif page == :next %><a class="pgn-ctrl" href="/<%= "#{@board[:slug]}/#{@current_page + 1}" %>">›</a>
  <% elsif @current_page == page %><span class="pgn-cur"><%= page %></span>
  <% else %><a href="<%= (page == 1 ? "/#{@board[:slug]}/" : page) %>"><%= page %></a><% end %></li>
<% end %>
</ul>
<% end %>
<%= erb :form %>
</div>
<%= erb :footer %>
</body>
</html>
