<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= erb :manage_assets %>
  <title>Manage bans</title>
</head>
<body>
<div id="content">
<ul id="nav">
  <li><a href="/manage">Return</a></li>
</ul>
<h1>Manage bans</h1>
<h3>Search</h3>
<form action="" method="get">
  IP: <input required type="text" <% if @ip %>value="<%= @ip %>" <% end %>name="q"><button type="submit">Search</button>
</form>
<h3><% if @ip %>Bans for <%= @ip %><% else %>Recent entries<% end %></h3>
<table id="ban-list" class="table">
  <thead>
    <td>Active</td>
    <td>IP or Subnet</td>
    <td>Reason</td>
    <td>Description</td>
    <td>Created by</td>
    <td>Created on</td>
    <td>Expires on</td>
    <td>Duration</td>
    <td></td>
  </thead>
  <tbody>
  <% time_format = t(:time_format) %>
  <% @bans.each do |ban| %>
  <tr>
    <td><% if ban[:active] %>&check;<% end %></td>
    <td><%= IPAddr.new_ntoh(ban[:ip]) %></td>
    <td class="ban-list-reason"><%= ban[:reason] %></td>
    <td class="ban-list-reason"><%= ban[:info] %></td>
    <td><%= ban[:username] %></td>
    <td><%= Time.at(ban[:created_on]).utc.strftime(time_format) %></td>
    <% if ban[:duration] == MAX_BAN %>
    <td></td>
    <td>Permaban</td>
    <% elsif ban[:duration] == 0 %>
    <td></td>
    <td>Warning</td>
    <% else %>
    <td><%= Time.at(ban[:expires_on]).utc.strftime(time_format) %></td>
    <td><%= ban[:duration] %> hour<%= 's' if ban[:duration] > 1  %></td>
    <% end %>
    <td><a href="/manage/bans/update/<%= ban[:id] %>">Edit</a></td>
  </tr>
  <% end %>
  </tbody>
</table>
</div>
</body>
</html>
