<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= erb :manage_assets %>
  <title>Manage bans</title>
</head>
<body>
<div id="content">
<ul id="nav">
  <li><a href="/manage">Return</a></li>
</ul>
<h1>Manage bans</h1>
<h3>Search</h3>
<form action="" method="get">
  IP: <input required type="text" <% if @ip %>value="<%= @ip %>" <% end %>name="q"><button type="submit">Search</button>
</form>
<h3><% if @ip %>Bans for <%= @ip %><% else %>Recent entries<% end %></h3>
<table id="ban-list" class="table">
  <thead>
    <th>Active</th>
    <th>IP or Subnet</th>
    <th>Reason and Description</th>
    <th>Created by</th>
    <th>Created on</th>
    <th>Expires on</th>
    <th>Duration</th>
    <th></th>
  </thead>
  <tbody>
  <% time_format = t(:time_format) %>
  <% @bans.each do |ban| %>
  <tr>
    <td class="col-xs"><% if ban[:active] %>&check;<% end %></td>
    <td class="col-m"><%= IPAddr.new_ntoh(ban[:ip]) %></td>
    <td class="col-txt"><%= ban[:reason] %><% if ban[:info] %><div class="note"><%= ban[:info] %></div><% end %></td>
    <td class="col-s"><%= ban[:username] %></td>
    <td class="col-m"><%= Time.at(ban[:created_on]).utc.strftime(time_format) %></td>
    <td class="col-m"><% if ban[:duration] > 0 %><%= Time.at(ban[:expires_on]).utc.strftime(time_format) %><% end %></td>
    <td class="col-s"><%
      if ban[:duration] < 0 %>Permanent<%
      elsif ban[:duration] == 0 %>Warning<%
      else %><%= ban[:duration] %> hour<%= 's' if ban[:duration] > 1 %><%
      end
    %></td>
    <td class="col-xs"><a href="/manage/bans/update/<%= ban[:id] %>">Edit</a></td>
  </tr>
  <% end %>
  </tbody>
</table>
</div>
</body>
</html>
