<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= erb :manage_assets %>
  <title><%= @post ? 'Ban' : 'Update ban' %></title>
</head>
<body>
<div id="content">
<ul id="nav">
  <li><a href="/manage/bans">Return</a></li>
</ul>
<h1 id="title"><%= @post ? 'Ban' : 'Update ban' %></h1>
<table class="items-table section">
  <% post = @post || JSON.parse(@ban[:post], symbolize_names: true) %>
  <tr>
    <th>IP</th>
    <td><%= post[:ip] %></td>
  </tr>
  <tr>
    <th>Reverse</th>
    <td><%= resolve_name post[:ip] %></td>
  </tr>
  <% if @ban %>
  <tr>
    <th>Banned on</th>
    <td><%= Time.at(@ban[:created_on]).utc.strftime(t(:time_format)) %><% if @ban[:creator_name] %> by <%= @ban[:creator_name] %><% end %><% if @ban[:updater_name] %>, updated by <%= @ban[:updater_name] %><% end %></td>
  </tr>
  <tr>
    <th>Post ID</th>
    <td>/<%= (post[:slug] || post[:board_num]) %>/<%= post[:thread_num] %>/<%= post[:num] %></td>
  </tr>
  <tr>
    <th>Name</th>
    <td><%= (post[:author] || cfg(:anon)) %></span><% if post[:tripcode] %><span class="post-tripcode">!<%= post[:tripcode] %><% end %></td>
  </tr>
  <tr>
    <th>Date</th>
    <td><%= Time.at(post[:created_on]).utc.strftime(t(:time_format)) %></td>
  </tr>
  <% if post[:title] %>
  <tr>
    <th>Title</th>
    <td><%= post[:title] %></td>
  </tr>
  <% end %>
  <% if post[:comment] %>
  <tr>
    <th>Comment</th>
    <td><%= post[:comment] %></td>
  </tr>
  <% end %>
  <% if post[:file_hash]; file_meta = JSON.parse(post[:meta], symbolize_names: true)[:file] %>
  <tr>
    <th>File</th>
    <td><%= file_meta[:ext] %> <%= file_meta[:w] %>×<%= file_meta[:h] %> <%= pretty_bytesize(file_meta[:size]) %> <%= post[:file_hash] %></td>
  </tr>
  <% end %>
  <% end %>
</table>
<form class="form section" action="/manage/bans/update" method="post">
  <% if @ban %>
  <input type="hidden" name="id" value="<%= @ban[:id] %>">
  <label><input name="active" type="checkbox"<% if @ban[:active] %> checked<% end %>> Active</label>
  <% else %>
  <input type="hidden" name="board" value="<%= @slug %>">
  <input type="hidden" name="thread" value="<%= @thread_num %>">
  <input type="hidden" name="post" value="<%= @post_num %>">
  <% end %>
  <label>Public reason (required)</label>
  <textarea required name="reason"><%= @ban[:reason] if @ban %></textarea>
  <label>Private description (optional)</label>
  <textarea name="info"><%= @ban[:info] if @ban %></textarea>
  <label>Duration in hours</label>
  <input type="number" min="-1" max="<%= MAX_BAN %>" name="duration" value="<%= @ban[:duration] if @ban %>">
  <ul class="protip">
    <li>Null duration results in a warning.</li>
    <li>Negative duration results in a permaban.</li>
  </ul>
  <button type="submit">Submit</button>
  <input type="hidden" name="csrf" value="<%= request.cookies['csrf'] %>">
</form>
</div>
</body>
</html>
